<!doctype html>
<html>
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  	<title>English Premiership Standings | Trac-Demo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
</head>
<body>
	<div class="tabs is-left">
		<ul>
			<li id="league-tab" class="is-active">
				<a onClick="switchToStandings()">League Standings</a>
			</li>
			<li id="news-tab">
				<a onClick="switchToNews()">League News</a>
			</li>
		</ul>
	</div>
	<div class="container">
		<div id = "league-tab-content" class="section columns">
			<div class="column is-8 is-offset-2">
				<article class="media">
					<div class="media-left">
						<figure class="image is-320x134">
							<img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Premier_League_Logo.svg/320px-Premier_League_Logo.svg.png" alt="League Logo">
						</figure>
					</div>
				</article>
				<h1 class="title has-text-right">{{ result.leagueCaption }}</h1>
			  	<table class="table is-bordered is-striped is-narrow">
					<thead>
						<tr>
					    	<th width="10px">#</th>
					      	<th>Team</th>
					      	<th>P</th>
					      	<th>W</th>
					      	<th>D</th>
					      	<th>L</th>
					      	<th>F</th>
					      	<th>A</th>
					      	<th>GD</th>
					      	<th>Pts</th>
					    </tr>
					</thead>
					<tbody>
					{{#each result.standing}}
						<tr>
					    	<td>{{ position }}</td>
					      	<td>
					      		<a href="teams/{{teamID _links.team.href }}">
					      			{{ teamName }}
					      		</a>
					      	</td>
					      	<td>
					      		{{ playedGames }}
					      	</td>
					      	<td>
					      		{{ wins }}
					      	</td>
					      	<td>
					      		{{ draws }}
					      	</td>
					      	<td>
					      		{{ losses }}
					      	</td>
					      	<td>
					      		{{ goals }}
					      	</td>
					      	<td>
					      		{{ goalsAgainst }}
					      	</td>
					      	<td>
					      		{{ goalDifference }}
					      	</td>
					      	<td>
					      		{{ points }}
					      	</td>
					    </tr>
				  	{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="hidden" id = "news-tab-content" >
							<div class="box">
								 {{#each articles.articles}}
								<article class="media">
									<div class="media-content">
										<div class="content">
											<h3>{{ title }}</h3>
											<p>{{ description }}</p>
											<a href="{{ url }}" target="_blank">Read More...</a>
										</div>
									</div>
									<div class="media-right">
										<figure>
											<img src="{{ urlToImage }}" style="width: 100%; height: 100%"  alt="Article Image">
										</figure>
									</div>
								</article>
								{{/each}}
							</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	  $(document).ready(function () {
			$("#news-tab-content").hide();
		});  


	  function switchToStandings() {
			removeActive();
			hideAll();
			$("#league-tab").addClass("is-active");
			$("#league-tab-content").removeClass("hidden");
			$("#news-tab-content").hide();
			$("#league-tab-content").show();
			
		}

		function switchToNews() {
			removeActive();
			hideAll();
			$("#news-tab").addClass("is-active");
			$("#news-tab-content").removeClass("hidden");
			$("#league-tab-content").hide();
			$("#news-tab-content").show();
		}

	function removeActive() {
			$("li").each(function () {
				$(this).removeClass("is-active");
			});
		}

	function hideAll() {
			$("#league-tab-content").addClass("hidden");
			$("#news-tab-content").addClass("hidden");
		}
</script>
</body>
</html>
